extends layout.pug

block style
  link(rel="stylesheet", href="/style/description-desktop.css")
block content
  h1 Welcome to Aciralith
  p
  | We are a small Community that tries to host events and give you the fun that you want.
  h2 Soft Democracy
  p We give you the power to vote our Coowners every month. And on top of that we also make sure to give suggestions which lead to internal votes.
  h2 Events
  p We will try to host at least one event every month. Those events can be Movie Nights, Tournaments, Game Nights, Art Challanges and more.
  h2 Custom Emotes
  p Our Developer Team is working on new Emotes that will give the Community a unique feeling. Those will also be available in future projects.
  h2 Perfectly Organized Enviroments
  p Our Discord, Facebook and also our Projects are perfectly organized and have high security standards to make you feel as comfortable as possible. There won't be any toxic nicknames or slurs and we have enough staff members to keep it that way. Either way our staff has to approve nicknames, roleplay characters and more.
  h2 Discord Community Partnering
  p We appreciate community partners and will feature them on our webpage as soon as possible, for that to happen please contact our community leaders on our <a href=links.discord>Discord</a> or contact us over the email address info@aciralith.com.
  a.button(href='/') Back To Home
